
    <link href="~/css/site.css" rel="stylesheet" />

    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <div class="card-header">
            <h4> @Employee.FirstName @Employee.LastName</h4>
        </div>
        <img height="200" class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />
        @if (ShowFooter)
        {
            <div class="card-footer text-center">
                <a href="@($"EmployeeDetails/{Employee.Id}")" class="btn btn-primary m-1">View</a>

                <a href="@($"editEmployee/{Employee.Id}")" class="btn btn-primary m-1">Edit</a>

                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        }
    </div>


@code {
    [Parameter]
    public BlazorEmployeesManagment.Web.Models.Employee  Employee { get; set; }

    [Parameter]
    public bool ShowFooter { get; set; } 


}
